# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Build / dist
build/
dist/
*.spec.bak
*.egg-info/

# PyInstaller cache
*.manifest

# OS
.DS_Store
Thumbs.db
